<footer class="border-t border-gray-200 bg-white">
    <div class="mx-auto max-w-screen-xl px-4 py-8 lg:py-12">
        <a href="/">
            <div class="inline-flex gap-1.5 text-lg"><span class="font-medium text-gray-900">HyperUI</span><span aria-hidden="true" role="img">🚀</span></div>
        </a>
        <div class="mt-6">
            <p class="max-w-md text-pretty leading-relaxed text-gray-700">Free open source Tailwind CSS components for marketing and eCommerce websites, as well as application UI.</p>
            <div class="mt-4 lg:flex lg:items-end lg:justify-between">
                <ul class="flex gap-4">
                    <li><%= link_to "FAQ", "", class: "block text-sm font-medium text-gray-900 hover:opacity-75"%></li>
                    <li><%= link_to "Acknowledgements", "", class: "block text-sm font-medium text-gray-900 hover:opacity-75"%></li>
                </ul>
                <p class="mt-4 text-sm text-gray-700 lg:mt-0">
                    Created by<!-- -->
                    <a href="https://github.com/sassani134"  rel="noreferrer" target="_blank" class="inline-block font-medium hover:text-gray-900">Samuel Assani</a>
                    <br />
                    Inspired by<!-- -->
                    <a href="hhttps://github.com/markmead"  rel="noreferrer" target="_blank" class="inline-block font-medium hover:text-gray-900">Mark Mead</a>
                </p>
            </div>
        </div>
    </div>
</footer>
