                            <div class="lg:flex lg:items-center">
                                <div class="flex flex-wrap items-center gap-2">
                                    <button>
                                        <span class="inline-flex items-center gap-1.5 rounded-md border-2 px-3 py-1.5 border-gray-900 bg-white text-gray-900 hover:bg-gray-900 hover:text-white">
                                            <span aria-hidden="true" role="img" class="text-sm">👀</span><span class="text-sm font-medium">View</span>
                                        </span>
                                    </button>
                                    <button>
                                        <span class="inline-flex items-center gap-1.5 rounded-md border-2 px-3 py-1.5 border-gray-900 bg-white text-gray-900 hover:bg-gray-900 hover:text-white">
                                            <span aria-hidden="true" role="img" class="text-sm">🌞</span><span class="text-sm font-medium">Light</span>
                                        </span>
                                    </button>
                                    <button>
                                        <span class="inline-flex items-center gap-1.5 rounded-md border-2 px-3 py-1.5 border-gray-900 bg-white text-gray-900 hover:bg-gray-900 hover:text-white">
                                            <span aria-hidden="true" role="img" class="text-sm">👉</span><span class="text-sm font-medium">LTR</span>
                                        </span>
                                    </button>
                                    <div class="hidden sm:flex">
                                        <div>
                                            <label for="CodeType1" class="sr-only">Code Type</label>
                                            <select id="CodeType1" class="rounded-l-md border-2 border-gray-900 py-1.5 pl-3 text-sm font-medium">
                                                <option value="html">HTML</option>
                                                <option value="jsx">Stimulus</option>
                                            </select>
                                        </div>
                                        <button class="hidden *:-ml-[2px] *:rounded-l-none sm:block">
                                            <span class="inline-flex items-center gap-1.5 rounded-md border-2 px-3 py-1.5 border-gray-900 bg-white text-gray-900 hover:bg-gray-900 hover:text-white">
                                                <span aria-hidden="true" role="img" class="text-sm">📋</span><span class="text-sm font-medium">Copy</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
